table thead {
	text-align: center;
}

table thead tr th:first-child {
	border-radius: 10px 0px 0px 0px;
}	

table thead tr th:last-child {
	border-radius: 0px 10px 0px 0px;
}	

table tbody tr td:not(:first-child) {
	border-left: 1px solid #dfe0e1;
}	

.input-group-text {
	width: 100px; 
	display:inline-block; 
	text-align: center;
}

a {
	text-decoration: none;
}

.memberIds {
	cursor: pointer;
	color: rgb(13,110,253);
}

tr > td:first-child {
	text-align: center;
}